/* src/layouts/MainLayout.css */
.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 1;
}

.body {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.logo {
  width: 120px;
  min-width: 120px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  margin-inline-end: 24px;
}
.left {
  display: flex;
  align-items: center;
  flex:1;
}

.right {
  width: 35%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}